<h1> Your rentals</h1>
    <% @rentals.each do |rental| %>
        <%= rental.start_date %>
        <%= rental.end_date %>
        <%= rental.book.title %>
        <%= rental.book.author %>
        <%= link_to rental.book.title, book_path(rental.book) %>
    <% end %>
