
<div class="rentals">
  <% current_user.rentals_as_owner.each do |rental| %>
    <div class="rental">
      <div class='rental-left'>
        <!-- if you're using cloudinary and activestorage -->
        <%# <%= cl_image_tag rental.user.photo, class: 'avatar-bordered' %>
        <div class="rental-info">
          <div class="rental-info-title">
            <%= rental.user.email %>
          </div>
          <div class="rental-info-details">
            <%= rental.start_date.strftime('%d.%m') %> - <%= rental.end_date.strftime('%d.%m') %>
          </div>
        </div>
      </div>
      <div class="rental-actions">
        <% if rental.pending? %>
          <%= simple_form_for [rental.book, rental] do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'Accepted'} %>
            <%= f.submit 'Accept', class: 'btn btn-info' %>
          <% end %>
          <%= simple_form_for [rental.book, rental] do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'Rejected'} %>
            <%= f.submit 'Reject', class: 'btn btn-light' %>
          <% end %>
        <% else %>
          <p class='rental-tag'><%= rental.status %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


