<div class="container mt-5 pt-5">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="my-requests-tab" data-bs-toggle="tab" data-bs-target="#my-requests" type="button" role="tab" aria-controls="my-requests-tab-pane" aria-selected="true">My requests</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="my-books-tab" data-bs-toggle="tab" data-bs-target="#my-books" type="button" role="tab" aria-controls="my-books-tab-pane" aria-selected="false">My books</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="my-rentals-tab" data-bs-toggle="tab" data-bs-target="#my-rentals" type="button" role="tab" aria-controls="my-rentals-tab-pane" aria-selected="false">My rentals</button>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="my-requests" role="tabpanel" aria-labelledby="my-requests-tab" tabindex="0">
      <div class="rentals">
        <% current_user.rentals_as_owner.each do |rental| %>
          <div class="rental">
            <div class='rental-left'>
              <!-- if you're using cloudinary and activestorage -->
              <%# <%= cl_image_tag rental.user.photo, class: 'avatar-bordered' %>
              <div class="rental-info">
                <div class="rental-info-title">
                  <%= rental.user.first_name %>
                </div>
                <div class="rental-info-details">
                  <%= rental.user.email %>
                </div>
                <div class="rental-info-details">
                  <%= rental.book.title %>
                </div>
                <div class="rental-info-details">
                  <%= rental.book.author %>
                </div>
                <div class="rental-info-details">
                  <%= "Rental period:" %>
                  <%= rental.start_date %> to <%= rental.end_date %>
                </div>
              </div>
            </div>
            <div class="rental-actions">
              <% if rental.pending? %>
                <%= simple_form_for [rental.book, rental] do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'Accepted'} %>
                  <%= f.submit 'Accept', class: 'btn btn-info' %>
                <% end %>
                <%= simple_form_for [rental.book, rental] do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'Rejected'} %>
                  <%= f.submit 'Reject', class: 'btn btn-light' %>
                <% end %>
              <% else %>
                <p class='rental-tag'><%= rental.status %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="my-books" role="my-bookspanel" aria-labelledby="my-books-tab" tabindex="0">
      <div class="container">
      <div class="row d-flex justify-content-center">
        <% Book.all.each do |book| %>
          <% if book.user_id == current_user.id %>
            <div class="col-4 align-items-stretch" >
              <div class="card" style="width: 24rem; height: 100;">
                <img src= <%= book.image_url ? book.image_url : "https://i.pinimg.com/originals/8d/13/b1/8d13b15006817344608393deb8b3a9a2.jpg" %> alt="" style="width: 100%" class="card-img-top" >
                  <div class="card-body" style="overflow:hidden;">
                    <% if book.title.length > 35 %>
                      <p class="card-title"><strong> <%= "#{book.title.slice(0,35)}..." %>  </strong></p>
                    <% else %>
                      <p class="card-title"><strong> <%= book.title  %>  </strong></p>
                    <% end %>
                    <p class="card-text"><%= book.author %></p>
                    <button class="btn btn-light button-bm"><%= link_to "book details", book_path(book) %></button>
                  </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>


    <div class="tab-pane fade" id="my-rentals-tab-pane" role="tabpanel" aria-labelledby="my-rentals-tab" tabindex="0">

<div class="container" style="width:500px; align-items:center;">
<div class="row" style="width:500px">

  <% @rentals.each do |rental| %>

    <div class="card-product mt-2 mb-2">
        <img src= <%= rental.book.image_url ? rental.book.image_url : "https://i.pinimg.com/originals/8d/13/b1/8d13b15006817344608393deb8b3a9a2.jpg" %> >
      <div class="card-product-infos">
        <h2><%= rental.book.title %></h2>
        <p> <%= rental.book.user.email %></p>
        <p><%= rental.status %></p>
        <% if rental.status != 'Pending' %>
          <a href= <%= edit_book_rental_path(rental.book.id, rental.id) %> class="btn btn-primary">Edit dates</a>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
</div>
    </div>


  </div>
</div>
