<div class ="container m-100 form p-0" style="width:800px; margin-top:100px;">
  <div class="row align-items-center justify-content-center p-3 border bg-light books-new-page">
    <div class="col-10 d-flex flex-column booksnew">
      <h2>Post a Book to be Rented</h2>

<div class="books-new-page">
  <div class="row col-10 justify-content-center newpage">
      <%= simple_form_for @book do |f| %>
      <%= f.input :title %>
      <%= f.input :author %>
      <%= f.input :synopsis %>
      <%= f.input :image_url %>
      <%= f.submit class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
<br>
</div>
<%# <button class="btn btn-light button-bm">
<i class="fa-solid fa-arrow-left"></i> %>
<div class="back-link">
<%=link_to "Back to all books", books_path%>
</div>
  <%# <%= link_to 'All Books', books_path %>
<%# </button> %>
