<h1>POST A BOOK TO BE RENTED</h1>

<%= simple_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.submit class: "btn btn-warning" %>
<% end %>

<button class="btn btn-dark">
  <%= link_to 'BACK TO ALL BOOKS', books_path %>
</button>
