<div class ="container form p-0" style="width:800px; margin-top:100px;">
  <div class="row align-items-center justify-content-center p-3 border bg-light sign-in-page">
  <div class="col-6 d-flex flex-column login">
    <h2>Login BookMe</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs container">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions button">
        <%= f.button :submit, "Login" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

    </div>
    <div class="col-6 image" style="object-fit:contain">
    <img src="https://images.unsplash.com/photo-1519609616053-af4bfa1f9391?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="" style="width: 100%">
    </div>
  </div>
</div>

<%# box-shadow:10px 5px 5px grey; border-radius:30px; %>
