
<div class="navbar fixed-top navbar-expand-lg p-0">
  <div class="container-fluid">
    <%= link_to  "/", class: "nav-link" do %>
      <div class="d-flex align-items-center">
        <i class="fa-solid fa-book-open-reader mr-2" style="
      font-size: 27px; margin-right: 10px;"></i>
        <p class="mt-4 icon-text">BookMe</p>
      </div>
    <% end %>
    <div class="ms-auto" id="navbarSupportedContent">
      <ul class="navbar-nav">
      <% if user_signed_in? %>
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><%= link_to "Find a Book", "/books", class: "nav-link"%></li>
            <li><%= link_to "My Rentals", rentals_path, class: "nav-link" %></li>
            <li><%= link_to "Add Book", new_book_path, class: "nav-link" %></li>
             <li><%= link_to "Log out", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %></li>
          </ul>
        </li>
      <% else %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              <%= link_to "Sign-up", new_user_registration_path, class: "nav-link" %>
      <% end %>
      </ul>
    </div>
  </div>
</div>
