
<div class="navbar fixed-top navbar-expand-lg p-0">

  <div class="container-fluid">
    <div class="ms-auto" id="navbarSupportedContent">
      <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", "/", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Rentals", rentals_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Add Book", new_book_path, class: "nav-link" %>
        </li>
          <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
        </li>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
      </ul>
    </div>
  </div>
</div>
